[Unit]
Description=Streamlit App Service
After=network.target

[Service]
User=streamlit
Group=streamlit
WorkingDirectory=/home/streamlit/AzureOpenAI_Assistants
ExecStart=streamlit run assistants.py --server.port 8501

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target